<div class="modal-contenedor">
  <div class="modal-carrito">
      <h3>Carrito</h3>
      <button id="carritoCerrar" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
      <table class="show-cart table">
      </table>
      <p class="precioProducto">Precio total:$<span class="total-cart"></span></p>
        <button class="clear-cart">Vaciar carrito</button>
        <form action="pagos">
            <button  class="boton-pagar">Ordenar ahora</button>
        </form>
  </div>
</div>

<div class="container-contactos">
  <form class="container-pagos" >
  <div class="titulo">
  <h3>INFORMACION DEL CONTACTO</h3>
  <br>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Nombre" id="name" name="nombre" required>
    <label for="name" class="form-label"></label>
  </div>
  
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Apellido" id="apellido" name="apellido" required>
    <label for="apellido" class="form-label"></label>
  </div>

  <div class="form-group">
    <input type="email" class="form-control" placeholder="Correo:" id="email" name="email" required>
    <label for="email" class="form-label"></label>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Numero1" id="numero1" name="numero1" required >
    <label for="city" class="form-label"></label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Numero2" id="numero2" name="numero2" required>
    <label for="city" class="form-label"></label>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Direccion" id="direccion" name="direccion" required>
    <label for="region" class="form-label"></label>
  </div>

  <div class="form-group">
    <input type="checkbox" id="gift" value="3"><label for="gift">Enviar como regalo</label><br>
  </div>
  <div class="form-group">
  <button type="submit" onclick="obtenerdatos()">Hacer pedido</button>
  </div>
  </form>

  <div class="right">
    <div class="titulo">
      <h3>RESUMEN DEL PEDIDO</h3>
      <br>
      </div>
      <div id="order">

      </div>
      <script src="https://www.paypal.com/sdk/js?client-id=<%= PAYPAL_API_CLIENT %>&currency=USD&disable-funding=card,credit"></script>
<script defer src="js/paymentButton.js"></script>
<script src="js/control.js"></script>

<div id="paypal-button"></div> 
  </div>
      

</div>

