<div class="modal-contenedor">
  <div class="modal-carrito">
      <h3>Carrito</h3>
      <button id="carritoCerrar" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
      <table class="show-cart table">
      </table>
      <p class="precioProducto">Precio total:$<span class="total-cart"></span></p>
        <button class="clear-cart">Vaciar carrito</button>
        <form action="pagos">
            <button  class="boton-pagar">Ordenar ahora</button>
        </form>
  </div>
</div>

<div class="container-contactos">
  <form class="container-pagos" method="POST">
  <div class="titulo">
  <h3>INFORMACION DEL CONTACTO</h3>
  <br>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder=" " id="name" name="nombre" >
    <label for="name" class="form-label">Nombre:</label>
  </div>
  
  <div class="form-group">
    <input type="email" class="form-control" placeholder=" " id="email" name="email">
    <label for="email" class="form-label">Email:</label>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder=" " id="adress" name="descripcion" >
    <label for="adress" class="form-label">Descripcion</label>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder=" " id="city" name="ciudad" >
    <label for="city" class="form-label">Ciudad</label>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder=" " id="region" name="provincia" >
    <label for="region" class="form-label">Provincia</label>
  </div>

  <div class="form-group">
    <input type="checkbox" id="gift" value=""><label for="gift">Enviar como regalo</label><br>
  </div>
  <div class="form-group">
  <button type="submit"  value="">Enviar</button>
  </div>
  </form>

      <h3>RESUMEN DEL PEDIDO</h3>
      <br>
      <div id="order">

      </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script src="https://www.paypal.com/sdk/js?client-id=<%= PAYPAL_API_CLIENT %>&currency=USD&disable-funding=card,credit"></script>
<script defer src="js/paymentButton.js"></script>
<script src="js/control.js"></script>

<div id="paypal-button"></div> 
    
</div>

