<div class="modal-contenedor">
  <div class="modal-carrito">
      <h3>Carrito</h3>
      <button id="carritoCerrar" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
      <table class="show-cart table">
      </table>
      <p class="precioProducto">Precio total:$<span class="total-cart"></span></p>
        <button class="clear-cart">Vaciar carrito</button>
        <form action="pagos">
            <button  class="boton-pagar">Ordenar ahora</button>
        </form>
  </div>
</div>

<div class="container-contactos">
  <form class="container-pagos" method="POST">
  <div class="titulo">
  <h3>INFORMACION DEL CONTACTO</h3>
  <br>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder=" " 
    id="name" name="name" >
    <label for="name" class="form-label">Your Name</label>
  </div>
  
  <div class="form-group">
    <input type="email" class="form-control" placeholder=" " 
    id="email" name="email">
    <label for="email" class="form-label">Your Email</label>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder=" " 
    id="adress" name="adress" >
    <label for="adress" class="form-label">Your Adress</label>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder=" " 
    id="city" name="city" >
    <label for="city" class="form-label">Your City</label>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder=" " 
    id="region" name="region" >
    <label for="region" class="form-label">Your Region</label>
  </div>

  <div class="form-group">
    <input type="checkbox" id="gift" value="">
    <label for="gift">Enviar como regalo</label><br>
  </div>
  <input type="submit" id="boton-enviar"  value="Siguiente" onclick="hizoClick()">
  </form>

      <h3>RESUMEN DEL PEDIDO</h3>
      <br>
      <main id="resumen">
      </main>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script src="https://www.paypal.com/sdk/js?client-id=<%= PAYPAL_API_CLIENT %>&currency=USD&disable-funding=card,credit"></script>
<script defer src="js/paymentButton.js"></script>

<div id="paypal-button"></div> 
    
</div>

