@font-face{
	font-family:"Riwaya-Italic";
	src:url("../fuentes/Riwaya-Italic.ttf") format("truetype");
  }
  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#D8A2A2;
    padding: 0;
  }
  .titulo{
    text-align: center;
    font-family:"Riwaya-Italic";
    font-size:30px;

}

#boton-carrito {
    border: none;
    background-color:#D8A2A2;
    color:white;
    font-size: 20px;
  transform: translateY(-7%);
    height: 100px;

}
.btncar{
    position:absolute;
    bottom:60%;
    border: none;
    background-color:#D8A2A2;
    color:white;
    font-size: 20px;
    transition: all .3s;
    height: 100px;
}

.carritobtn{
    text-align: center;
}


#boton-carrito:hover {
    cursor: pointer;
    background-color: #A48B8B;
}
#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    font-family:"Riwaya-Italic";
    justify-content: space-between;
    flex-wrap: wrap;
}

.producto {
    max-width: 30%;
    padding: 40px;
    margin: 10px;
    font-family:"Riwaya-Italic";
    background-color: #FFFFFF;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
.precioProducto {
    font-weight: 700;
}

.boton-pagar{
    transform:translateY(-30px);
    margin-left: 400px;
    background-color: #D8A2A2;
    border: none;
    color: #FFFFFF;
    height: 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    font-family:"Riwaya-Italic";
    font-size: 15px;
   

}

.add-to-cart{
    background-color: #D8A2A2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    padding: 3px 15px;
    margin: 2px 2px;
    border-radius: 4px;
    font-family:"Riwaya-Italic";
    font-size: 15px;

}

.clear-cart{
    background-color: #D8A2A2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    padding: 3px 15px;
    margin: 2px 2px;
    border-radius: 4px;
    font-family:"Riwaya-Italic";
    font-size: 15px;
}
.add-to-cart:hover{
    cursor: pointer; 
}

.add-to-cart:focus{
outline: none;
}


.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: #A48B8B;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    font-family:"Riwaya-Italic";
    color: #A48B8B;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

#contadorCarrito{
    font-family:"Riwaya-Italic";
    color: white;
}

.productoEnCarrito {
    border-left: 5px solid #A48B8B;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid #D8A2A2;
}

.boton-eliminar {
    background-color:white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}
  
  

  .hero1{
   overflow: hidden;
    background-color:#D8A2A2;
    padding: 0;
  }
  H1{
    font-family:"Riwaya-Italic"; 
  }

  .logo{
    float: left;
    font-family:"Riwaya-Italic";
    margin: 20px;
  }




nav{font-family:"Riwaya-Italic";
    font-size:20px;
	list-style: none;
	padding: 0;
    text-align: center;
	overflow: hidden;
	background:#D8A2A2;
	width: 100vw;
	margin: auto;
  display: flex;
  justify-content:space-evenly;

}

nav li a{
	text-decoration: none;
	color: white;
	padding: 50px;
	display: block;
    justify-content: space-evenly;
}
nav li a:hover{
	background: #A48B8B;
	color:white;
	
}


.nav-link_active {

    background-color: #A48B8B;
  
   
  }
nav li{
	display: inline-block;
	text-align: center;
}

.submenu{display:none;
    background-color:#D8A2A2;}

nav ul li:hover .submenu{display:block;
                    position:absolute;				    
                    z-index: 3;  
                    margin-top:0px;
                    margin-left: 0;
                    }
                    .submenu ul{margin:0;
                        padding:0;
                        justify-content: center }   
                                 
                                       

body{
    background-color: rgb(255, 239, 250);
    margin:0;
}
.titulo{
    font-weight: bold;
}
a:link, a:visited, a:active {
    text-decoration:none;
    color: white; font-family:"Riwaya-Italic" ;
}
#resumen{
  background-color: aqua;
}
footer{

    background-color:#D8A2A2;
}

.pie{
    background-color:#D8A2A2;
    color:white;
    font-family:"Riwaya-Italic";
    font-size:20px;
    padding-left:350px;
    float:left;
}
.pie2{
    background-color:#D8A2A2;
    color:white;
    font-family:"Riwaya-Italic";
    font-size:20px;
    padding-right:350px;
    float:right;
  
   
}
.pie3{
    background-color:#D8A2A2;
    font-family:"Riwaya-Italic";
    font-size:14px;
    color: #FFFFFF;
    justify-content:center;
    display: flex;
    padding: 0;
}



.container-contactos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
    border-radius: 5px;
    padding: 20px;

}



.right {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.right-pago {
  background-color: #f2f2f2;
  border-radius: 5px;
  width: 40vw;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}


* {
    box-sizing: border-box;
  }
/*
input[type=text], input[type=email],  input[type=number],select, textarea {
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    resize: vertical;
  }*/
  
  label {
    padding: 12px;
    display: inline-block;
  }
  
  .btname{
    font-family:"Riwaya-Italic";
    background-color: #D8A2A2;
    color: white;
    padding: 12px 20px;
    border: 2px solid white;
    border-radius: 4px;
    width:55%;
    cursor: pointer;
    margin-left:150px;
    
  }

  .btname:hover {
    background-color: #A48B8B;
  }
  
 
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 70%;
    margin-top: 6px;
  }
  .container {
    margin: 5%;
  }

  .col-4#right {
    background-color: #f2f2f2;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 5px;
  }

  .col-4#left {
    background-color: #D8A2A2;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 5px;
  }

  .col-4#center {
    background-color: white;
    border-radius: 5px;
    border:1px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75 {
      width: 100%;
      margin-top: 0;
    }
  }


  .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
  }

  .card-imagen{
    width: 350px;
    height:350px;
    align-self: center;
    border-radius: 5px;

  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .item-count{  cursor: pointer;
                text-align: center;
                border-radius: 15px;}

  .minus-item, .plus-item{
            background-color: #D8A2A2;
            border-radius: 5px;}

  .minus-item:hover, .plus-item:hover{
        background-color: rgb(255, 239, 250);}

  .delete-item{height: 2rem;border-radius: 5px;
                background-color: rgb(214, 94, 94)!important;
                margin-right: 0.5rem;}

  .delete-item:hover{height: 2rem;border-radius: 5px;
                background-color: rgb(238, 118, 118)!important;}

  .equis{
        transform: translateY(-25%);
        }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .diseños {
    text-align: center;
    display: flex;
  }

  .izquierda{
  font-size: 18px;
  font-family:"Riwaya-Italic";
  font-weight: bold;
  display:flex;
  margin-left: 20%;
  align-items:center;

  }

  .ver{
    display:flex;
  flex-direction:column;
  margin-left: 10%;
  padding-bottom:5%;
  text-align: center;


  }

  .derecha{
    font-size: 18px;
    font-family:"Riwaya-Italic";
    font-weight: bold;
    display:flex;
    margin-left: 20%;
    align-items:center;
  
  }


  .container-pagos{
    width: 40vw;
    padding: 2em;
    background-color: #D8A2A2;
    border-radius: 5px;
    
}

.form-group{
    margin-bottom: 1em;
    transition: all .3s;  
}

.form-label{
    font-size: 14px;
    color:#aaa;
    display: block;
    opacity: 1;
    transform: translateY(-3.1em);
    transform-origin: 0 2;
    transition: all .3s;
    padding-left: 5px;    
}

.form-label#message{
    transform: translateY(-14.7em);
    transform-origin: 0 2;
    transition: all .3s;
}

.form-control{
    box-shadow: none;
    background-color: aliceblue;
    border-color: #ccc;
    width:100%;
    transition: all .5s;
    padding: 5px;
	border: 1px solid #E3E2E3;
	border-radius:4px;   
}


.form-control:focus{
    box-shadow: none;
    outline: none;
    border-color: antiquewhite;  
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label
{
    transform: translateY(-5.3em);
    padding-left: 0px;
    color: black;
}

.form-control:focus + .form-label#message,
.form-control:not(:placeholder-shown) + .form-label#message
{
    transform: translateY(-16.9em);
    padding-left: 0px;
}

.form-group:focus-within{
    transform: scale(1.01,1.01);
}


.totalpago {
  background-color: none;
    border: none;
    color: black;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    padding: 3px 15px;
    margin: 2px 2px;
    border-radius: 4px;
    font-family:"Riwaya-Italic";
    font-size: 20px;
}

.totalpago-subtotal {
  background-color: none;
    border: none;
    color: black;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    padding: 3px 15px;
    margin: 2px 2px;
    border-radius: 4px;
    font-family:"Riwaya-Italic";
    font-size: 23px;
}